@page
@model IndexModel

<div class="row justify-content-md-center">

    @foreach (var item in Model.SupplementList)
    {
        <div class="card col-3 m-3">
            <img src="@item.ImageUri" class="p-3" style="border-radius: 25px">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
                <a class="btn btn-primary" 
                asp-page="/Details"
                asp-route-id="@item.SupplementId"
                asp-route-slug="@item.NameSlug">Ver mais</a>
            </div>
        </div>
    }
</div>